[submodule "tsdb"]
	path = tsdb
	url = https://github.com/CloudPadovana/caos-tsdb.git
[submodule "collector"]
	path = collector
	url = https://github.com/CloudPadovana/caos-collector.git
[submodule "dashboard"]
	path = dashboard
	url = https://github.com/CloudPadovana/caos-dashboard.git
